<section class="projects-section">
  <div class="lang-switch">
    <button (click)="switchLang()">
      {{ lang === 'fr' ? 'Switch to English' : 'Passer au français' }}
    </button>
  </div>

  <div class="projects-content">
    <!-- 🇫🇷 Français -->
    <div *ngIf="lang === 'fr'">
      <h2>Mes projets récents</h2>
      <p>Voici quelques projets que j'ai réalisés, mettant en œuvre mes compétences DevOps, Cloud et qualité logicielle.</p>

      <div class="project-card">
        <h3>Projet Azure DevOps</h3>
        <p>
          Mise en place d’un pipeline CI/CD avec <strong>Docker</strong>, <strong>Kubernetes (AKS)</strong>,
          <strong>Terraform</strong> et <strong>SonarCloud</strong> dans un environnement Azure.
        </p>
        <a href="https://dev.azure.com/DhaferBOUTHELJA/ProjetAzureDevops-DhaferBouthelja" target="_blank">
          👉 Voir sur Azure DevOps
        </a>
      </div>
      <div class="project-card">
        <h3>Automatisation Infrastructure DevOps pour Test automatique embarqué</h3>
        <p>
          Automatisation de l'infrastructure de test des cartes electronique avec <strong>Ansible</strong>, <strong>Kubernetes (K3s)</strong>,
          <strong>Docker</strong>, <strong>Prometheus</strong>, <strong>Grafana</strong>, <strong>Alert Manager</strong> et <strong>Portainer</strong>.
        </p>
      </div>

      <ul>
        <li><strong>Portfolio dynamique :</strong> Angular + Express, hébergé sur Render avec chatbot Rasa.</li>
      </ul>
    </div>

    <!-- 🇬🇧 English -->
    <div *ngIf="lang === 'en'">
      <h2>My recent projects</h2>
      <p>Here are some projects I’ve worked on, demonstrating my expertise in DevOps, Cloud, and software quality.</p>

      <div class="project-card">
        <h3>Azure DevOps Project</h3>
        <p>
          CI/CD pipeline using <strong>Docker</strong>, <strong>Kubernetes (AKS)</strong>,
          <strong>Terraform</strong>, and <strong>SonarCloud</strong> in Azure environment.
        </p>
        <a href="https://dev.azure.com/DhaferBOUTHELJA/ProjetAzureDevops-DhaferBouthelja" target="_blank">
          👉 View on Azure DevOps
        </a>
      </div>
      <div class="project-card">
        <h3>Automation DevOps infrastructure for automatic embedded testing</h3>
        <p>
          Automation of electronic board test infrastructure with <strong>Ansible</strong>, <strong>Kubernetes (K3s)</strong>,
          <strong>Docker</strong>, <strong>Prometheus</strong>, <strong>Grafana</strong>, <strong>Alert Manager</strong> et <strong>Portainer</strong>.
        </p>
      </div>

      <ul>
        <li><strong>Dynamic Portfolio:</strong> Angular + Express, hosted on Render with Rasa chatbot.</li>
      </ul>
    </div>
  </div>
</section>
